.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 300px;
  padding: 30px 15px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  font-family: inherit;
}
.formTitle {
  margin: 0 0 10px 0;
}
.formLabel {
  width: 100%;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
}
.formInput {
  width: calc(100% - 5px);
  height: 40px;
  padding: 0 0 0 5px;
  margin: 5px 0 0 0;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  outline: none;
  font-family: inherit;
}

.formInput:hover,
.formInput:focus {
  border: 1px solid #f0623d;
}

.formBtn {
  width: 100%;
  height: 40px;
  padding: 0;
  margin: 0;
  outline: none;
  color: #fff;
  border: 1px solid #f0623d;
  border-radius: 5px;
  background-color: #f0623d;
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
  /* font-size: 18px; */
}

.formBtn:hover {
  border: 1px solid #ff5123;
  background-color: #ff5123;
}
