.btn_primary {
  width: fit-content;
  /* height: 40px; */
  padding: 7px 15px;
  margin: 0 0 0 auto;

  outline: none;
  color: #fff;
  border: 1px solid $accent-color;
  border-radius: 5px;
  background-color: $accent-color;
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
}

.btn_primary:hover {
  border: 1px solid $hover-accent-color;
  background-color: $hover-accent-color;
}
