@import "vars";

.btn_primary {
  width: fit-content;
  padding: 5px 20px;
  margin: 0;

  outline: none;
  color: $white-color;
  border: 1px solid $accent-color;
  border-radius: 5px;
  background-color: $accent-color;
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
}

.btn_primary:hover {
  border: 1px solid $hover-accent-color;
  background-color: $hover-accent-color;
}
