@import "vars";
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  height: 60px;
  width: 100%;
  padding: 0 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  &__link {
    text-decoration: none;
    color: crimson;
  }
}

.logo {
  // margin-right: 50px;
}

.logoutBtn {
  width: fit-content;
  /* height: 40px; */
  padding: 10px;
  margin: 0 0 0 auto;

  outline: none;
  color: #fff;
  border: 1px solid $accent-color;
  border-radius: 5px;
  background-color: $accent-color;
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
  /* font-size: 18px; */
}

.logoutBtn:hover {
  border: 1px solid $hover-accent-color;
  background-color: $hover-accent-color;
}
