@import "vars";
@import "buttons";
@import "mixins";
@import "container";

.feedback-page {
  padding: 30px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include desktop {
    padding: 30px 15px;
  }
  &-title {
    margin-bottom: 30px;
    text-align: center;
    // line-height: 1.5;
    font-size: 30px;
    font-weight: 500;
    @include desktop {
      // text-align: left;
    }
  }
}
.feedback-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 300px;
  padding: 30px 10px;
  margin: 0 auto;
  // border: 1px solid $grey-color;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  @include desktop {
    width: 400px;
    margin: 0;
  }
  &-legend {
    font-weight: 600;
    font-size: 22px;
  }
  &-label {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
  }
  &-input {
    height: 40px;
    border: 1px solid $grey-color;
    border-radius: 3px;
    background-color: $white-color;
    padding: 0 10px;
    font-family: inherit;
    outline: none;
    &:hover {
      border: 1px solid $accent-color;
    }
    &:focus {
      border: 1px solid $accent-color;
    }
    &--area {
      @extend .feedback-form-input;
      padding: 10px;
      height: 100px;
    }
    &--radio {
      display: none;
    }
  }
}
