@import "vars";
@import "mixins";
@import "container";
.header-wrap {
  // box-shadow: $grey-color 0px 2px 8px;
  border-bottom: 1px solid $grey-color;
  position: sticky;
  position: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  width: 100%;
  padding: 0 2px;
  @include desktop {
    padding: 0 12px;
    height: 65px;
    justify-content: left;
  }
  & a {
    img {
      display: block;
    }
  }
  &-menu-btn {
    background: none;
    border: none;
    border-radius: 50%;
    outline: none;
    padding: 8px;
    cursor: pointer;
    font-family: inherit;
    & svg {
      display: block;
    }
    &:hover {
      background-color: rgba(60, 64, 67, 0.08);
      path {
        fill: $accent-color;
        stroke: $accent-color;
      }
    }
    @include desktop {
      margin-right: 50px;
    }
  }

  &-profile-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $accent-color;
    text-decoration: none;
    padding: 8px;
    border-radius: 50%;
    &--hidden {
      @extend .header-profile-btn;
      visibility: hidden;
    }
    &:hover {
      background-color: rgba(60, 64, 67, 0.08);
      path {
        stroke: $accent-color;
      }
    }
    @include desktop {
      margin-left: auto;
    }
  }

  &-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // gap: 5px;
    font-size: 12px;
    font-family: inherit;
    color: #000;
    background: none;
    border: none;
    outline: none;
    &--disabled {
      @extend .header-arrow;
      color: grey;
      pointer-events: none;
    }
  }

  &-back-btn {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-family: inherit;
    color: #3b444b;
    background: none;
    border: none;
    outline: none;
    &:hover {
      color: $accent-color;
    }
    &:hover path {
      stroke: $accent-color;
    }
    @include desktop {
      margin-right: 50px;
    }
  }
  &-btn-wrapper {
    display: flex;
    gap: 10px;
    @include desktop {
      margin-left: auto;
    }
  }
}
