@import "mixins";
@import "container";
@import "vars";

.help-section {
  padding: 30px 0;

  @include desktop {
    padding: 40px 0;
  }
}
.help-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 500;
}
.help-list {
  list-style: none;
}
.help-item {
  margin-bottom: 15px;
  @include desktop {
  }
}
.help-item-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 10px;
  @include desktop {
    font-size: 18px;
  }
}
.help-item-content {
  font-size: 14px;
  line-height: 1.5;
  &-title {
    font-weight: 600;
  }
  @include desktop {
    font-size: 16px;
  }
}
.faq-item {
  @extend .help-item;
  padding: 10px 5px 0 5px;
  border: 1px solid $grey-color;
  border-radius: 5px;
}
.faq-item-content-title {
  @extend .help-item-content-title;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.faq-item-content {
  @extend .help-item-content;
  max-height: 0;
  overflow: hidden;
  transition: 0.2s;
  &--visible {
    @extend .faq-item-content;
    max-height: 200px;
  }
}
.help-item-list {
  padding-left: 15px;
}
// .help-arrow {
//   transition: 0.2s;
//   & path {
//     fill: $second-black-color;
//   }
//   &--open {
//     @extend .help-arrow;
//     transform: rotate(180deg);
//   }
// }
