@import "mixins";
.loader-overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 99;
  //   cursor: pointer;
}
.loader {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.image-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
