@import "vars";
@import "mixins";
@import "container";

.order-list-section {
  padding: 30px 0;
  @include desktop {
    padding: 40px 0;
  }
}
.order-list-title {
  margin-bottom: 30px;
  // color: $black-color;
  font-size: 25px;
  font-weight: 500;
}
.order-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: scroll;
  scroll-margin-top: 10px;
  list-style: none;
  gap: 15px;
  &--single {
    @extend .order-list;
    justify-content: center;
  }
}
.order-item {
  position: relative;
  width: auto;
  height: auto;
  border: 1px solid transparent;
  border-radius: 5px;
  &:hover {
    border-color: $accent-color;
  }
}
.order-item-image {
  display: block;
  border-radius: 5px;
}
.order-item-date {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2px 5px;
  font-size: 12px;
  font-weight: 500;
  color: $second-black-color;
  background-color: $grey-color;
  border-radius: 0 0 5px 5px;
}
