@import "vars";
@import "mixins";

.order-list-section {
  padding: 30px 10px;
  @include desktop {
    padding: 40px 15px;
  }
}
.order-list-title {
  // margin-left: 10px;
  margin-bottom: 30px;
  color: $black-color;
  font-size: 14px;
  font-style: italic;
  // font-family: var(--font-capriola);
  text-align: center;
}
.order-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: scroll;
  scroll-margin-top: 10px;
  list-style: none;
  gap: 15px;
}
.order-item {
  position: relative;
  width: auto;
  height: auto;
}
.order-item-image {
  display: block;
  border-radius: 5px;
}
.order-item-date {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: fit-content;
  padding: 2px 5px;
  font-size: 12px;
  color: $white-color;
  background-color: $grey-color;
  border-radius: 0 5px 0 5px;
}
