@import "vars";
@import "mixins";

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  &-overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    z-index: 2;
  }
  &-menu {
    width: 60vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $white-color;
    padding: 10px;
    z-index: 3;
    @include desktop {
      width: 30vw;
      padding: 20px;
    }
    &-logo {
      display: block;
      margin-bottom: 40px;
    }
    &-nav {
      display: flex;
      flex-direction: column;
      gap: 25px;
      margin-left: 25px;
      @include desktop {
        gap: 30px;
      }
      &-link {
        display: block;
        color: $black-color;
      }
    }
  }
}
