.slider-container {
  position: relative;
  width: 100%;
  max-width: 500px;
}
.slider-pag {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding-top: 10px;
  gap: 5px;
}
.slider-image {
  border-radius: 5px;
  width: 100%;
  max-height: 500px;
  max-width: 500px;
}

.slider-image-small {
  border-radius: 5px;
}
.slider-hint {
  position: absolute;
  top: -20px;
  right: 0;
  color: rgb(32, 173, 32);
  font-style: italic;
  font-size: 14px;
  font-weight: 500;
  opacity: 0;
  transition: 0.25s;
  &--visible {
    opacity: 1;
  }
}
