@import "vars";
@import "container";
@import "mixins";

.story-wrapper {
  height: auto;
  display: flex;
  justify-content: space-between;
  // align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  gap: 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 50px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;

  @include desktop {
    flex-direction: row;
    // align-items: center;
    margin-top: 20px;
    padding: 50px;
    position: relative;
  }
}

.story-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  cursor: pointer;
  @include desktop {
    z-index: -1;
  }
}
.story-modal-window {
  width: 100vw;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  z-index: 3;
  padding: 10px;
  background-color: $white-color;
  @include desktop {
    position: relative;
    width: 800px;
    height: 650px;
    padding: 0;
    border-radius: 5px;
  }
}

.story-modal {
  width: 100%;
  min-height: 600px;
  position: relative;
  @include desktop {
    width: 50%;
    // height: 600px;
  }
  // width: 100vw;
  // height: 100%;
  // position: fixed;
  // overflow-y: scroll;
  // top: 0;
  // left: 0;
  // z-index: 3;
  // padding: 5px;
  // background-color: $white-color;
  // @include desktop {
  //   width: 800px;
  //   height: 600px;
  //   top: 50%;
  //   left: 50%;
  //   padding: 15px;
  //   transform: translate(-50%, -50%);
  //   border-radius: 5px;
  // }
}
.story-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  opacity: 1;
  transition: 0.2s;
}
.story-top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  @include desktop {
    padding: 0;
  }
}
.story-back-btn {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-family: inherit;
  color: $second-black-color;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    color: $accent-color;
    & path {
      stroke: $accent-color;
    }
  }
  &--disabled {
    @extend .story-back-btn;
    color: rgba(16, 16, 16, 0.3);
    pointer-events: none;
  }
}
.story-nav-btn-wrap {
  display: flex;
}
.story-nav-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  padding: 8px;
  font-family: inherit;
  color: $second-black-color;
  background: none;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    background-color: rgba(60, 64, 67, 0.08);
  }
  &:hover path {
    stroke: $accent-color;
  }
  &--disabled {
    @extend .story-nav-btn;
    color: rgba(16, 16, 16, 0.3);
    pointer-events: none;
  }
}
.story-title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
  color: $second-black-color;
  @include desktop {
    text-align: left;
    font-size: 22px;
  }
}
.story-text {
  font-size: 14px;
  margin-bottom: 15px;
  white-space: pre-wrap;
  @include desktop {
    font-size: 15px;
    max-width: 800px;
  }
}
.story-textarea {
  position: fixed;
  height: calc(100% - 104.5px);
  // height: 100%;
  width: calc(100% - 20px);
  font-size: 14px;
  font-family: inherit;
  color: $second-black-color;
  background-color: $white-color;
  border: none;
  outline: none;
  resize: none;
  @include desktop {
    position: static;
    width: 100%;
    height: calc(100% - 50px);
    // margin-bottom: 20px;
    font-size: 15px;
  }
}
.story-bottom-panel {
  position: fixed;
  left: 5px;
  bottom: 5px;
  width: calc(100% - 10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid $grey-color;
  background-color: $white-color;
  z-index: 5;
  color: $second-black-color;
  margin-top: 20px;

  @include desktop {
    position: absolute;
    left: 0;
    // bottom: -20px;
    max-width: 800px;
    width: 100%;
  }
}
.story-btn-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.story-btn {
  height: 25.81px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  font-size: 12px;
  font-family: inherit;
  border: 1px solid $grey-color;
  border-radius: 5px;
  padding: 2px 5px;
  background: none;
  color: $second-black-color;
  font-weight: normal;
  cursor: pointer;
  &:hover {
    border: 1px solid $accent-color;
  }
}

.story-edit-btn {
  @extend .story-btn;
  background-color: $white-color;
  // position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: auto;
  right: auto;
  bottom: 5px;
  &:hover path {
    stroke: $accent-color;
  }
  @include desktop {
    position: static;
    left: auto;
    right: auto;
    bottom: -15px;
    z-index: 5;
  }
}
.page-content {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.page-content-enter {
  opacity: 0;
}

.page-content-enter-active {
  opacity: 1;
}

.page-content-exit {
  opacity: 1;
}

.page-content-exit-active {
  opacity: 0;
}
